:root {
    --progress-bar-label-color: red;
    --progress-color: blue;
    --highlight-color: yellow;
}


.p-progressbar-label {
    color: var(--progress-bar-label-color) !important;
}

.p-progressbar-value {
    background: var(--progress-color) !important
}

.p-rating-item.p-rating-item-active svg {
    color: var(--progress-color) !important
}

.p-fileupload-choose {
    background: var(--progress-color) !important;
    border: 1px solid var(--progress-color) !important;
}

.p-highlight.p-selectable-row {
    background: var(--highlight-color) !important;
}

.p-checkbox-box.p-component,
.p-radiobutton-box.p-component {
    border-color: var(--progress-color) !important;
}

.p-checkbox .p-checkbox-box.p-highlight,
.p-radiobutton-box .p-component.p-highlight {
    background: var(--progress-color) !important;
}

.p-checkbox.p-component.p-highlight {
    background: var(--progress-color) !important;
}

.p-checkbox-box.p-component.p-highlight.p-focus {
    background: var(--progress-color) !important;
    box-shadow: 0 0 0 0.2rem var(--progress-color) !important;
}

.p-checkbox-box.p-component.p-focus {
    box-shadow: 0 0 0 0.2rem var(--progress-color) !important;
}

.p-radiobutton .p-radiobutton-box.p-highlight {
    background: var(--progress-color) !important;
}

.p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
    box-shadow: 0 0 0 0.2rem var(--highlight-color) !important;
}

.p-datatable.p-datatable tr.p-highlight {
    color: var(--progress-color) !important;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: var(--highlight-color) !important;
}

.p-link,
.p-link:focus {
    color: var(--progress-color) !important;
}

.p-link:focus {
    box-shadow: 0 0 0 0.2rem var(--highlight-color) !important;
}

.p-inputtext:enabled:focus,
.p-inputtext:enabled:hover {
    border-color: var(--progress-color);
}

.p-inputtext:enabled:focus {
    box-shadow: 0 0 0 0.2rem var(--progress-color) !important;
}

.p-button.p-button-outlined.p-component:hover {
    background: var(--highlight-color) !important;
}

.p-dropdown.p-component:hover {
    border-color: var(--highlight-color);
}

.p-dropdown.p-component.p-focus {
    border-color: var(--highlight-color);
    box-shadow: 0 0 0 0.2rem var(--highlight-color) !important;
}

.p-dropdown-item.p-highlight {
    background: var(--highlight-color) !important;
}

.p-button:focus {
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--highlight-color), 0 1px 2px 0 rgb(0, 0, 0);
}

.p-datatable .p-sortable-column.p-highlight {
    color: var(--progress-color) !important;
    box-shadow: inset 0 0 0 0.2rem var(--progress-color) !important;
}

.p-datatable .p-sortable-column.p-highlight svg {
    color: var(--progress-color) !important;
}

.p-toast-message-content {
    color: var(--progress-color);
}

.p-icon.p-toast-message-icon {
    color: var(--progress-color) !important;
}

.p-toast .p-toast-message.p-toast-message-info {
    background: var(--highlight-color) !important;
    color: var(--progress-color) !important;
    border-color: var(--progress-color) !important;
    border-width: 0 0 0 6px;
}

.p-selection-column,
.p-editable-column {
    vertical-align: middle !important;
}

.p-column-header-content {
    justify-content: center !important;
}

.p-datatable-header div:first-child {
    align-items: center !important;
}

.p-rating {
    justify-content: center !important;
}

.p-button-label {
    max-width: 8rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

td[role="cell"] {
    vertical-align: middle !important;
}

.p-row-editor-init.p-link,
.p-button.p-component.p-button-icon-only.p-button-text.p-button-rounded.p-button-danger {
    margin: auto;
    display: flex;
}

.p-editable-column img {
    object-fit: cover;
}

.p-toast {
    position: absolute !important;
}

.p-checkbox.p-component,
.p-radiobutton.p-component {
    display: flex;
    margin: auto;
}