:root {
    --progress-bar-label-color: red;
    --progress-color: blue;
    --highlight-color: yellow;
    --highlight-color-transparent: #FFFF0050;
    --buttonsColor: #9ebec7;
    --hoverColor: yellow;
    --paddingV: 10px;
    --paddingH: 10px;
    --borderRadus: 8px;
    --faceSize: 12px;
    --FontFace: "font-family: Lato;";
    --fontWeight: 400;
    --fontColor: #000;
    --fontAlignment: center;
    --rating_color: red;
    --rating_hover_color: #000;
}
/*setting css butem color*/
.p-button {
    border: 0.1rem solid var(--buttonsColor);
    background: var(--buttonsColor);
}

.p-button:enabled:hover, .p-button:not(button):not(a):not(.p-disabled):hover {
    background:  var(--highlight-color);
    border-color: var(--highlight-color);
}
.p-datatable .p-column-header-content {
    justify-content: var(--fontAlignment);
}
.p-progressbar-label {
    color: var(--progress-bar-label-color) !important;
}

.p-progressbar-value {
    background: var(--buttonsColor) !important
}

.p-highlight.p-selectable-row {
    background: var(--highlight-color-transparent) !important;
}
.p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
    border-color:  var(--highlight-color);
}

.p-radiobutton .p-radiobutton-box.p-highlight {
     border-color:  var(--buttonsColor);
     background:  var(--buttonsColor);
}
.p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
    border-color: var(--buttonsColor);
    background: var(--buttonsColor);
    color: var(--buttonsColor);
}
.p-datatable .p-datatable-tbody > tr.p-highlight {
    background: var(--highlight-color);
    color:  var(--buttonsColor);
}
.p-datatable.p-datatable-selectable .p-datatable-tbody > tr.p-selectable-row:not(.p-highlight):not(.p-datatable-emptymessage):hover {
    background: var(--highlight-color);
    color:  var(--buttonsColor);
}
.p-clickable{
    display: flex;
    line-height: 16px;
}
.p-inputtext{
    width: 0;
}
.p-inputnumber {
    display: flex;
}
.p-calendar{
    display: flex;
}
.p-calendar .p-inputtext {
    width: 0;
}
.p-datatable.p-datatable-sm .p-datatable-header {
    padding: var(--paddingV) var(--paddingH);
    border-top-left-radius: var(--borderRadus);
    border-top-right-radius: var(--borderRadus);
}

.p-datatable.p-datatable-sm .p-datatable-footer {
    padding:  var(--paddingV) var(--paddingH);
    border-bottom-left-radius: var(--borderRadus);
    border-bottom-right-radius: var(--borderRadus);
}

.p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
    box-shadow: 0 0 0 0.2rem var(--highlight-color) !important;
}

.p-link:focus {
    box-shadow: none!important;
}
.p-datatable.p-datatable-selectable .p-datatable-tbody > tr.p-selectable-row:focus {
    outline: none;
    outline-offset: 0;
}
.p-datatable .p-sortable-column.p-highlight {
    background: var(--highlight-color-transparent);
}
.p-datatable .p-sortable-column.p-highlight:not(.p-sortable-disabled):hover {
    background: var(--highlight-color-transparent);
    color: var(--buttonsColor);
}


.p-inputtext:enabled:focus,
.p-inputtext:enabled:hover {
    border-color: var(--buttonsColor);
}


.p-button.p-button-outlined.p-component:hover {
    background: var(--buttonsColor) !important;
}

.p-dropdown.p-component:hover {
    border-color: var(--buttonsColor);
}

.p-dropdown.p-component.p-focus {
    border-color: var(--buttonsColor);
    box-shadow: 0 0 0 0.2rem var(--highlight-color) !important;
}

.p-button:focus {
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #fff, 0 1px 2px 0 rgb(0, 0, 0);
}
.p-datatable .p-sortable-column.p-highlight {
 color: var(--buttonsColor);
}

.p-datatable .p-sortable-column.p-highlight:not(.p-sortable-disabled):hover {
    color: var(--buttonsColor);
}
.p-rating .p-rating-item.p-rating-item-active .p-rating-icon {
    color: var(--rating_color);
}
.p-rating{
    color: var(--rating_color);
    justify-content: var(--fontAlignment);
}
.p-rating:not(.p-disabled):not(.p-readonly) .p-rating-item:hover .p-rating-icon {
    color: var(--rating_hover_color);
}
.p-rating .p-rating-item:focus {
    box-shadow: none!important;
}
.p-paginator .p-dropdown .p-dropdown-label {
    width: 20px;
}
.p-toast .p-toast-message.p-toast-message-info {
    background: var(--highlight-color-transparent);
    border: solid var(--highlight-color);
    border-width: 0 0 0 6px;
    color: var(--highlight-color);
}
.p-toast .p-toast-message.p-toast-message-info .p-toast-message-icon, .p-toast .p-toast-message.p-toast-message-info .p-toast-icon-close {
    color: var(--highlight-color);
}

.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
    color: var(--buttonsColor);
}

.p-datatable .p-sortable-column.p-highlight:not(.p-sortable-disabled):hover .p-sortable-column-icon {
    color: var(--buttonsColor);
}
.p-datatable .p-sortable-column:focus {
    box-shadow: inset 0 0 0 0.15rem var(--buttonsColor);
    outline: 0 none;
    background: var(--highlight-color-transparent);
}
.p-datatable .p-sortable-column:hover {
    background: var(--highlight-color-transparent);
}
.p-datatable .p-sortable-column {
    background: var(--highlight-color-transparent);
}


.p-rating .p-rating-item.p-rating-item-active .p-rating-icon {
    color: var(--rating_color);
}
.p-inputtext:enabled:focus {
    box-shadow:none;
    border-color: var(--buttonsColor);
}
.p-datatable.p-datatable-striped .p-datatable-tbody > tr.p-row-odd.p-highlight {
    background: #EEF2FF;
    color: var(--buttonsColor);
}

.zq-data-table * {
    vertical-align: middle;
}

.p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
    border-color: var(--buttonsColor);
}
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: var(--buttonsColor);
    border-color: var(--buttonsColor);
    color: #fff;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    color: #ffffff;
    background: var(--buttonsColor);
}
.zq-data-table * {
    vertical-align: middle;
    font-family: var(--FontFace);
}
.zq-data-table * {
    vertical-align: middle;
    font-family: var(--FontFace);
}
.p-button-icon{
    font-family: 'primeicons';
}
i {
    font-family: 'primeicons';
}
.p-datatable .p-datatable-tbody > tr {
    color: var(--fontColor);
    font-weight: var(--fontWeight);
}